<h3>Add a note</h3>
<br>
<br>

<%= form_for (@note) do |f| %>
    
    Note: <%= f.text_field :content %><br><br> 
    
   <% end %>   
  <%= f.submit %>
  <% end %>
  
  <br>
  <br>
  <br>