<h4> Location Added to Destination! </h4>
<br>
<br>
  Location Name:   <%= @location.name %><br>
  Description: <%= @location.description %><br>

<br>
<%= link_to "Edit Location", edit_location_path(@location) %>
<br>


<h5>
  <%= link_to "Add a new location to this destination", new_location_path(@location) %>
  <br>
  <br>
</h5>
